*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
}

a {
    margin-left: 0 !important;
}

.whatsapp-icon {
    position: fixed;
    width: 50px;
    bottom: 20px;
    right: 60px;
}

.whatsapp-icon img {
    width: 100%;
}

.menu-smart {
    display: none;
    flex-direction: column;
    background-color: transparent;
    cursor: pointer;
}

.menu-smart .faixa {
    margin: 2px 0;
    width: 40px;
    height: 10px;
    border-radius: 3px;
    background-color: #9E1E22;
}

.center {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 6px;
}

.modal-menu {
    top: 0;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.836);
}

.modal-menu nav ul {
    text-align: center;
    margin-top: 90px;
    
}

.modal-menu nav ul li {
    margin-top: 20px;
}

.modal-menu nav ul li a {
    font-size: 30px;
}

.modal-menu .close-menu {
    width: 40px;
    height: 40px;
    position: absolute;
    font-size: 30px;
    color: white;
    text-align: center;
    border: 1px solid white;
    top: 20px;
    right: 50px;
    cursor: pointer;
}

.index-page {
    background-image: url(./assets/background2.png);
    background-size: cover;
    width: 100%;
    height: 100vh;  
}

.index-page header {
    
    background-color: rgba(29, 51, 89, 0.418);
    
}

.index-page header .logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.index-page header .logo img{
    width: 80px;
}

.index-page header .logo p {
    font-size: 30px;
    color: white;
    font-weight: bold;
    letter-spacing: 2px;
    margin-left: 5px;
}

.index-page header .menu nav ul {
    display: flex;
    flex-direction: row;
}

.index-page header .menu nav ul li, a{
    margin-left: 25px;
    list-style: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    transition: all .3s;
}

.index-page header .menu nav ul li, a:hover {
    color: #1D3359;
}

.index-page .main-index {
    width: 100%;
    min-height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.index-page .main-index .buttons-index {
    width: 45%;
    display: flex;
    flex-direction: column;
}

.index-page .main-index .buttons-index a button {
    padding: 14px;
    border: 0;
    border-radius: 25px;
    color: white;
    font-size: 20px;
    font-weight: lighter;
    cursor: pointer;
}

.index-page .main-index .apresentation-index {
    width: 50%;
    text-align: center;
    color: white;
    padding: 0 50px;
    background-color: #1d3359b7;
    border-radius: 12px;
    padding: 20px;

    
}

.index-page .main-index .apresentation-index h1 {
    margin-bottom: 30px;
    font-size: 40px;
   
}

.index-page .main-index .apresentation-index h1 img {
    width: 50px;
}

.index-page .main-index .apresentation-index p {
    font-size: 25px;
    font-weight: bold;
    
}

.services-page {
    width: 100%;
    background-color: #1D3359;
    box-shadow: 0px -30px 30px #1D3359;
}

.services-page > .center {
    display: flex;
    flex-direction: column;
}

.services-page .title-services {
    width: 100%;
}

.services-page .title-services h1{
    text-align: center;
    color: white;
    margin: 30px 0;
}

.services-page .title-services h1 img {
    width: 40px;
}

.services-page .main-services {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    gap: 20px;
}

.services-page h1 {
    color: white;
    margin: 60px auto 80px auto;
    font-size: 20px;
}

.services-page h1 img {
    width: 30px;
}

.modal-images {
    top: 0;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.836);
}

.modal-images .images {
    text-align: center;
}

.modal-images .images img {
    height: 100vh;
    padding: 10px;
}

.modal-images .close {
    position: absolute;
    top: 10px;
    right: 20px;
    color: white;
    border: white 1px solid;
    padding: 10px;
    cursor: pointer;
}

.modal-images .prox {
    position: absolute;
    right: 60px;
    top: 50%;
    color: white;
    cursor: pointer;
    border: white 1px solid;
    padding: 10px;
    font-weight: bold;
    font-size: 20px;
}

.modal-images .anter {
    position: absolute;
    left: 60px;
    top: 50%;
    color: white;
    cursor: pointer;
    border: white 1px solid;
    padding: 10px;
    font-weight: bold;
    font-size: 20px;
}

.hidden {
    display: none;
}

.services-page .main-services .card-service {
    width: 100%;
    border: solid 1px white;
    background-color: #9E1E22;
    transition: all .8s;
    cursor: pointer;
}

.card-over {
    width: calc(100% + 50px) !important; 
    height: calc(100% + 50px) !important;
    margin-top: -25px;
    margin-left: -25px;
    z-index: 5;

    font-size: 20px ; 

    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.479);
}



.services-page .main-services .card-service .card {
    background-color: white;
    width: 100%;
    padding: 80px 0;
    background-size: cover;
}

.card-alone-over {
    transition: all .8s;
    padding: 100px 0 !important;
}

.services-page .main-services .card-service .description {
    color:  white;
    font-weight: bold;
    text-align: center;
    padding: 10px;
}

.contato-page {
    width: 100%;
    background-color: #9E1E22;
    box-shadow: 0px -30px 30px #9E1E22;
}

.services-page > .center {
    display: flex;
    flex-direction: column;
}

.contato-page .title-contato {
    width: 100%;
}

.contato-page .title-contato h1{
    text-align: center;
    color: white;
    margin: 30px 0;
}

.contato-page .title-contato h1 img {
    width: 40px;
}

.contato-page .main-contato {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

.main-contato .map {
    width: 50%;
}



.main-contato .map img {
    width: 100%;
}

.main-contato .contato {
    width: 50%;
}

.main-contato .contato p{
    color: white;
    text-align: center;
    font-size: 20px;
}

.form-content {
    border-top: 1px solid black;
    width: 100%;
    margin-top: 40px;
    padding: 40px;
}

.form-content > center { 
    display: flex;
    flex-direction: row;

}

.form-content form {
    display: flex;
    flex-direction: column;
    width: 40%;
    text-align: center;
    color: white;
}

.form-content form input, button, textarea {
    width: 100%;
    border: 0;
    padding: 8px 10px;
    border-radius: 4px;
    margin-top: 10px;
}

.form-content form button {
    background-color: #1D3359;
    color: white;
    font-weight: bold;
}

.form-content .information-form {
    width: 50%;
}

.form-content .information-form .text-information-form {
    max-width: 100%;
    font-size: 20px;
    color: white;
    text-align: left;
}

.form-content .information-form .text-information-form h1 {
    margin: 30px;
}

.form-content .information-form .text-information-form h1 img {
    width: 40px;
}

footer {
    padding: 20px;
    font-size: 14px;
    font-weight: bold;
    background-color: #1D3359;
    color: white;
    text-align: center;
}

@media (max-width: 1100px) {
    .center {
        width: 90%;
    }

    .index-page {
        background-size: initial;
        background-repeat: no-repeat;
    }

    .index-page .main-index {
        flex-direction: column-reverse;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .index-page .main-index .buttons-index {
        margin-top: 20px;
        width: 100%;
    }

    .main-index .buttons-index a button {
        padding: 20px !important;
    }

    .index-page .main-index .apresentation-index {
        width: 100%;
        margin-top: 90px;
        margin-bottom: 30px;
        background-color: #1d3359b7;
        border-radius: 12px;
        padding: 20px;
        box-sizing: content-box;
    }

    .index-page .main-index .apresentation-index h1 {
        margin-bottom: 0px;
    }


    #home > div > div > div.buttons-index > a {
        margin: 0;
    }

    .main-index .apresentation-index h1 {
        padding: 20px;
    }

    .main-index .apresentation-index p {
        padding: 20px;
    }

    .title-contato .main-contato {
        flex-direction: column-reverse;
    }

    .title-contato .main-contato .map {
        margin-top: 60px;
    }

    .contato h1, p{
        padding: 0;
    }

    .contato-page .center .title-contato .contato {
        width: 100%;
    }

    .form-content > .center {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .form-content .information-form {
        text-align: center;
        width: 100%;
    }

    .form-content .information-form .text-information-form h1 {
        text-align: center;
    }


    .form-content form {
        margin-top: 60px;
        width: 100%;
    }
} 

@media (max-width: 950px) {
    .services-page .main-services {
        grid-template-columns: repeat(2, 1fr);
    }
}


@media (max-width: 600px) {

    .whatsapp-icon {
        right: 10px;
        bottom: 10px;
    }

    .menu-smart {
        display: flex;
    }

    .index-page .main-index .apresentation-index {
        margin-top: 30px;
        padding: 5px;
    }

    .index-page .main-index .apresentation-index h1 {
        margin-bottom: 10px;
        font-size: 28px;
       
    }

    .index-page .main-index .apresentation-index h1 img {
        width: 35px;
        display: noneawd;
    }

    .index-page .main-index .apresentation-index p {
        font-size: 20px;
        font-weight: bold;
        
    }

    .index-page header .menu {
        display: none;

    }
    
    .services-page h1 {
        font-size: 20px;
    }


    .contato-page .title-contato h1 {
        font-size: 20px;
    }

    .form-content .information-form .text-information-form h1 {
        font-size: 20px;
    }

    .form-content .information-form .text-information-form p, li{
        font-size: 16px;
    }

    .form-content {
        padding: 10px;
    }

    .form-content h1 {
        font-size: 20px;
    }

    .contato-page .main-contato {
        margin-top: 20px;
    }

    .contato-page .title-contato h1 {
        margin-top: 0;
    }

    .card-service .description {
        font-size: 13px;
    }
}

@media (min-width: 1800px) {
    .center{
        width: 60%;
    }
}